QAction_5/Whatson.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:java="http://xml.apache.org/xslt/java" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="DataElementCompoundListType">
    <xs:sequence>
      <xs:element name="DataElementList" type="DataElementListType" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataElementListType">
    <xs:sequence>
      <xs:element name="DataElement" type="DataElementType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="DataElementType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="Value" type="ValueType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ValueType" mixed="true">
    <xs:sequence>
      <xs:element name="DataElementCompoundList" type="DataElementCompoundListType" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Pharos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ImportMetaData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Note" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Playlist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChannelName" type="xs:string" />
              <xs:element name="BlockList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Block">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BlockName" type="xs:unsignedInt" />
                          <xs:element name="PreviousBlockName" type="xs:unsignedInt" />
                          <xs:element maxOccurs="unbounded" name="PlaylistItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ItemReference" type="xs:string" />
                                <xs:element name="StartMode" type="xs:string" />
                                <xs:element name="StartDate" type="xs:dateTime" />
                                <xs:element name="StartTimecode" type="xs:string" />
                                <xs:element name="ScheduledDuration" type="xs:string" />
                                <xs:element name="ScheduleReference" type="xs:string" />
                                <xs:element name="ScheduledTitle" type="xs:string" />
                                <xs:element name="Template">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TemplateName" type="xs:string" />
                                      <xs:element name="DataElementList" type="DataElementListType" maxOccurs="1"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>